<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/stylesheets.css">
    <title>Vivi Nail</title>
</head>
<body>
<h1 class="header">Vivien's Nail Site</h1>
<div class="main">
    <p>Bejelentkezés</p>
    <form action="/login" method="post">
        <a>Email</a><br>
        <input name="username" placeholder="{{ message }}"><br><br>
        <button type="submit">Login</button><br><br>

    </form >
    <a href="/registration" class="header">Registráció</a>

</div>
</body>
</html>