<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user['username'] }} Kuckója</title>
</head>
<body>
<table>
    <th>
        <a href="/colors">Színek</a>
    </th>
    <th>
        <a href="/booked_dates">Időpontjaim</a>
    </th>
    <th>
        <a href="/nails">Körmeim</a>
    </th>
    <th>
        <a href="/pictures">Galéria</a>
    </th>
    <th>
        <a href="/profile">Profilom</a>
    </th>
    <th><a href="/log-out">Kilépés</a></th>
</table>
<h1>Szia {{ user['username'] }}</h1>

</body>
</html>